#Basic config

homeassistant:
  # Name of the location where Home Assistant is running
  name: Home
  # Location required to calculate the time the sun rises and sets
  latitude: !secret latitude
  longitude: !secret longitude
  # Impacts weather/sunrise data (altitude above sea level in meters)
  elevation: !secret elevation
  # metric for Metric, imperial for Imperial
  unit_system: imperial
  # Pick yours from here: http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
  time_zone: America/Detroit

  external_url: !secret external_url
  internal_url: !secret internal_url

  customize: !include customize.yaml

  packages: !include_dir_named packages

# Configure a default setup of Home Assistant (frontend, api, etc)
default_config:

# Discover some devices automatically
discovery:

recorder:
  #purge_interval: 7
  auto_purge: True
  purge_keep_days: 30
  # exclude:
  #   entities:
  #     - sensor.ambient_light_sensor

# Uncomment this if you are using SSL/TLS, running in Docker container, etc.
# http:
#   base_url: example.duckdns.org:8123

# Text to speech
tts:
  - platform: google_translate


light: !include lights.yaml
group: !include groups.yaml
automation: !include_dir_merge_list automation/
script: !include scripts.yaml
scene: !include scenes.yaml
sensor: !include sensors.yaml
binary_sensor: !include binary_sensors.yaml
zone: !include zones.yaml
cloud: !include cloud.yaml

mqtt:
  broker: !secret mqtt_broker
  port: !secret mqtt_port
  client_id: !secret mqtt_client_id
  username: !secret mqtt_username
  password: !secret mqtt_password
  discovery: true
  discovery_prefix: homeassistant

input_boolean:
  washer_status:
    name: Washer Status Switch
    initial: off
    # icon: mdi:washing-machine

  defeat_sleep:
    name: "Disable sleep on ESPHome"
    initial: false

  outdoor_defeat_sleep:
    name: "Disable sleep on Outdoor"
    initial: false

  garage_automations:
    name: Garage Automations

  ac_automations:
    name: AC Automations

  tts_automations:
    name: TTS Automations

  vacation_automations:
    name: Vacation Automations

  lights_off_automations:
    name: Lights Off Automations

# Internet speed checks

fastdotcom:

rest_command:
  lr_tv_mute:
    url: "http://192.168.254.31/mute"
  lr_tv_on:
    url: "http://192.168.254.31/on"
  lr_tv_off:
    url: "http://192.168.254.31/off"
  lr_tv_channelup:
    url: "http://192.168.254.31/channelup"
  lr_tv_channeldown:
    url: "http://192.168.254.31/channeldown"
  lr_tv_last:
    url: "http://192.168.254.31/last"
  lr_tv_netflix:
    url: "http://192.168.254.31/netflix"
  lr_tv_home:
    url: "http://192.168.254.31/home"
  lr_tv_cablebox:
    url: "http://192.168.254.31/cablebox"
  lr_tv_info:
    url: "http://192.168.254.31/info"
  lr_tv_louder:
    url: "http://192.168.254.31/louder"
  lr_tv_muchlouder:
    url: "http://192.168.254.31/muchlouder"
  lr_tv_muchsofter:
    url: "http://192.168.254.31/muchsofter"
  lr_tv_softer:
    url: "http://192.168.254.31/softer"
  lr_tv_nbc:
    url: "http://192.168.254.31/nbc"
  lr_tv_cbs:
    url: "http://192.168.254.31/cbs"
  lr_tv_science:
    url: "http://192.168.254.31/science"
  lr_tv_cnn:
    url: "http://192.168.254.31/cnn"
  lr_tv_tcm:
    url: "http://192.168.254.31/811"







